@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-inter;
  }
}

.btn {
  text-transform: inherit;
}

.outer-btn .inner-icon {
  transition: transform 0.3s ease;
}

.outer-btn:hover .inner-icon {
  transform: translateX(-5px);
}
